* {
    margin: 0%;
    padding: 0%;
}

.MFN {
    margin-left: 25%;
    width: 50%;
    margin-top: 20px;
}

.button {
    text-decoration: none;
    color: black;
    /* margin-left: 15%; */
    border: 2px solid #808080;
    font-size: xx-large;
    width: 70%;
    text-align: center;
    border-radius: 10px;
}

.orbitron-button {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.orbitron-text {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 140%;
    text-align: center;
    margin-left: 15%;
    width: 70%;
    border-bottom: 2px solid #808080;
}

.orbitron-number {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: x-large;
    text-align: center;
    margin-left: 15%;
    width: 70%;
}

.text {
    margin-bottom: 2px;
}

.bgpic img {
    width: 100%;
    height: 100%;
    background-size: contain;

}

.bgpic {
    width: 100%;
    margin-top: -7%;
}

.logo img {
    width: 80%;
    height: 100%;
    background-size: contain;
    margin-left: 10%;
}

.logo {
    margin-left: 25%;
    width: 50%;
    height: 60vh;

}

.orbitron-logo {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 16.5vh;
    text-align: center;
    margin-left: 15%;
    margin-top: -1%;
    color: black;
    width: 70%;
}

.tradingview {
    width: 23%;
    margin-top: 10%;
    rotate: -30deg;
    margin-left: -4%;
    position: absolute;
    animation-name: icons;
    animation-duration: 7s;
}

.tradingview img {
    width: 100%;
    height: 100%;
    background-size: contain;
}

.quotex {
    width: 18%;
    /* height: 8vh; */
    margin-top: 20%;
    margin-left: 75%;
    rotate: 20deg;
    position: absolute;
}

.quotex img {
    width: 100%;
    height: 100%;
    background-size: contain;
}

.binance {
    width: 23%;
    /* height: 8vh; */
    margin-top: 30%;
    /* margin-left: 2vh; */
    rotate: 10deg;
    position: absolute;
}

.binance img {
    width: 100%;
    height: 100%;
    background-size: contain;
}

@keyframes icons {
    0% {
        margin-top: 10%;
        rotate: -30deg;
        margin-left: -4%;
    }

    36% {
        margin-top: 15%;
        rotate: -25deg;
        /* margin-left: -4%; */
    }

    73% {
        margin-top: 10%;
        rotate: -33deg;
        margin-left: -2%;
    }

    100% {
        margin-top: 10%;
        rotate: -30deg;
        margin-left: -4%;
    }
}

@media only screen and (max-width: 900px) {
    .logo img {
        width: 100%;
        height: 100%;
        background-size: contain;
        margin-left: 0%;
    }

    .logo {
        margin-left: 25%;
        width: 50%;
        height: 23vh;
        /* 200px */
        /* border: 1px solid red; */
    }

    .orbitron-logo {
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-size: 3.7vh;
        text-align: center;
        margin-left: 15%;
        margin-top: -1%;
        color: black;
        width: 70%;
    }

    .binance {
        width: 23%;
        /* height: 8vh; */
        margin-top: 27vh;
        margin-left: -2vh;
        rotate: 10deg;
        position: absolute;
    }
}